:root{
    --blue:#0057b8;
    --light-blue:#dcf0fb;
    --red:#ff585d;
   
}
@font-face {
    font-family: 'Droid';
    src: url('./DroidSerif-WmoY.ttf') ,
    
}
.droid{
    font-family: 'Droid', serif;

}
.hidden{
    display: none;
}
.bg-primary{
background-color: var(--blue);
color: white;
}

.bg-secondary{
    background-color: var(--light-blue);
    color: var(--blue);
}

.btn{
    cursor: pointer;
    background-color: var(--red);
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius:30px;

}



.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

}

/* .grid-col{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
} */

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.italic{
    font-style: italic;
}
/* .grid{
    width: 100%;
    height: 60vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
  grid-template-areas: 
  'box1 box1 box2'
  'box3 box4 box4'
  'box3 box5 box5'
  
  ;
    gap: 5px;
}

.box1{
    grid-area:box1;
}

.box2{
    grid-area:box2;
}

.box3{
    grid-area:box3;
}
.box4{
    grid-area:box4;
}

.box5{
    grid-area:box5;
} */

